<h2 id="title">Welcome to Ember.js</h2>

<h3>Suggest</h3>
{{input-suggest model='cookie' store=store threshold=3 maxResults=5 typeAction='addItem' canEdit=true placeholder='Buscar galletas'}}

{{outlet}}
